html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
body {
    background-color: antiquewhite;
}

h1 {
    margin: 3px;
}

#text-input {
    margin: 15px 5px 0 10px;
    background-color: aliceblue;
    border-radius: 3px;
}

#submit-btn {
    background-color: chartreuse;
    border-radius: 3px;
}

li {
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: darkgreen;
}